@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden !important;
  }

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
:root{
    --text-color: #3D4F60;
    --text-hover-color: #00264B;
    --sm-heading: #636363;
    --white-color: #ffffff;
    --black-color: #000000;
}

body{
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

.box{
    background: linear-gradient(to right, #cbe1ff 65%, #005AB1 100%);
}

.btn{
    background: linear-gradient(to right, #FFFFFF66 50%, #011d3b 90%);
}

.helpBox{
    background: linear-gradient(to bottom left, #e0e7ef 5%, #011d3b 70%);
}

/* .about{
  clip-path: path('M0 0 H300 V250 Q150 320 0 250 Z');
} */